<div class="sidebar sticky">
	<!--<h3>Important Dates</h3>-->
	<div style="text-align: center; margin-bottom: 10px;">
		<div style="width:100%;background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Paper Registration</div>
		<div style="width:100%; margin-bottom: 10px;">29.04.2022</div>
		<div style="width:100%;background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Acceptance Notification</div>
		<div style="width:100%">15.05.2022</div>
	</div>
	<div style="text-align: center; margin-bottom: 10px;">
		<div style="width:100%;background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-top: 10px;">Industrial Support</div>
		<a href="https://emnify.com"><img src="{{ '/assets/images/emnify.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;"></a>
		<a href="https://infosim.net"><img src="{{ '/assets/images/infosim.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;"></a>
		<div style="width:100%;background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Technical Co-Sponsors</div>
		<img src="{{ '/assets/images/vde.jpg' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/kuvs.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/gi.jpg' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">

	</div>
	
</div>
