<div class="sidebar sticky">
	<div style="text-align: center; margin-bottom: 10px;">
		<!--<a href="{{ '/registration' | relative_url }}"><div style="width:100%; color: rgb(255, 82, 82); font-weight: bold; margin-bottom: 10px;">Registration Open</div></a>-->
		<div style="width:100%; color: rgb(255, 82, 82); font-weight: bold; margin-bottom: 10px;"><a href="https://edas.info/N32554">Paper Submission</a></div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Registration Deadline</div>
		<div style="width:100%; margin-bottom: 10px">06.09.2024</div>
		<!--<div style="width:100%; margin-bottom: 10px">Non-authors: TBA</div>-->
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Paper Registration</div>
		<div style="width:100%; margin-bottom: 10px">26.07.2024</div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Acceptance Notification</div>
		<div style="width:100%; margin-bottom: 10px">06.09.2024</div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold">Industrial Support</div>
		<a href="https://emnify.com"><img src="{{ '/assets/images/emnify_new_small.png' | relative_url }}" alt="logo" style="width: 90%; margin-bottom: 10px; margin-top: 10px"></a>
		<a href="https://infosim.net"><img src="{{ '/assets/images/infosim.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;"></a>
		<div style="width:100%;background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Technical Co-Sponsors</div>
		<img src="{{ '/assets/images/vde.jpg' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/kuvs.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/gi.jpg' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<a href="https://sns-origami.eu/"><img src="{{ '/assets/images/origami_logo.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;"></a>
		<img src="{{ '/assets/images/maki.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/logommb_white.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
	</div>
</div>
