<div class="sidebar sticky">
	<div style="text-align: center; margin-bottom: 10px;">
		<div style="width:100%; color: rgb(255, 82, 82); font-weight: bold; margin-bottom: 10px;">Registration Open</div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Registration Deadline</div>
		<div style="width:100%; margin-bottom: 10px; text-decoration: line-through;">Authors: 10.06.2022</div>
		<div style="width:100%; margin-bottom: 10px;">Non-authors: 04.07.2022</div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Paper Registration</div>
		<div style="width:100%; margin-bottom: 10px; text-decoration: line-through;">29.04.2022</div>
		<div style="width:100%; margin-bottom: 10px; text-decoration: line-through; ">06.05.2022</div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Acceptance Notification</div>
		<div style="width:100%; margin-bottom: 10px; text-decoration: line-through;">12.05.2022</div>
		<div style="width:100%; background-color: #FEFEFE; color: #252A34; font-weight: bold">Industrial Support</div>
		<a href="https://emnify.com"><img src="{{ '/assets/images/emnify.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;"></a>
		<a href="https://infosim.net"><img src="{{ '/assets/images/infosim.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;"></a>
		<div style="width:100%;background-color: #FEFEFE; color: #252A34; font-weight: bold; margin-bottom: 10px;">Technical Co-Sponsors</div>
		<img src="{{ '/assets/images/vde.jpg' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/kuvs.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/gi.jpg' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
		<img src="{{ '/assets/images/maki.png' | relative_url }}" alt="logo" style="width: 100%; margin-bottom: 10px;">
	</div>
</div>
